.game-layout.grid p, h2, li, div, button{
  grid-column: 2/3;
  margin: 0px;
}

.core-info.grid {
  display: grid;
  grid-template-columns: repeat(1fr, 10);
}

.core-info.grid * {
  grid-column: 2/9;
}

.additional-info img{
  text-align:center;
  width: 250px;
  height: 250px;
  border: rgb(199, 200, 201) 2px solid;
  padding: 0px;
  margin: 5px auto;
}

a#more-info-link {
  display: inline-block;
  background-color: transparent;
  text-align: left;
}

.core-info h1{
  grid-row: 1;
}

.core-info.grid h2{
  margin-top: 5px;
  text-align: center;
  grid-column: 2/10;
}

#picture-gallery {
  grid-row: 2;
  margin: auto;
  border-radius: 12px;
  width : 200px;
  height : 300px;
}

#dots-picture{
  text-align:center;
  margin: auto;
}


#picture-gallery img{
  display: flex;
  margin: auto;
  padding: 0px;
  width : 200px;
  height : 300px;
}

.game-stats {
  grid-row-start: 4; 
  display: grid;
}

.game-stats div {
  padding: 5px;
  height: 60px;
}

.game-stats div:nth-child(1) {
  grid-column: 2/5;
}

.game-stats div:nth-child(2) {
  grid-column: 5/8;
  width: 80px;
}

.game-stats div:nth-child(3) {
  grid-column: 8/10;
}

.game-stat {
  width: 60px;
  height: 50px;
}

.game-stat img{
  border: 0px;
  width: 30px;
  height: 30px;
}

.how-to-play {
  height: 280px;
}

.how-to-play iframe{
  margin: auto;
  display: block;
}

.shop {
  height: 120px;
}

.shop button{
  margin: 5px auto;
  text-align: center;
}

.how-to-play button{
  margin: 5px auto;
  text-align: center;
}

.additional-info p{
  text-align: left;
}

.additional-info.grid {
  margin: 5px;
}

/*image carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
#dots-picture {
  margin-top: 5px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#picture-gallery {
  display: grid;
  width: 200px;
  height: 300px;
  background-color: #f2f2f2;
}

.mySlides img {
  border: solid 1px gray;
}

.sell-sheet img:nth-of-type(1){
  display: none;
}

.sell-sheet img:nth-of-type(2){
  width: 300px;
  height: 450px;
}

@media screen and (min-width: 450px) {

  .sell-sheet img:nth-of-type(2){
    width: 450px;
    height: 675px;
  } 
  
}

@media screen and (min-width: 600px){

  .core-info.grid * {
    grid-column: 5/10;
  }

  #picture-gallery {
    grid-row: 1/5;
    grid-column: 2/5;
    margin-top: 5px;
    margin-right: 0px;
    margin: auto;
  }

  #dots-picture {
    grid-row: 4/5;
    grid-column: 2/5;
    margin: auto;
    margin-bottom: 120px;
  }
  
  .core-info.grid h1{
    text-align: center;
    grid-row-start: 1;
    grid-column: 1/10
  }
  
  .game-stats {
    grid-row-start: 2; 
    grid-column: 5/10;
  }
  
  .shop {
    grid-row: 3; 
    grid-column: 5/10;   
  }

  
  .how-to-play {
    grid-row-start: 4; 
    grid-column: 5/10;
  }

  .learn-more-images img {
    display:inline;
  }

  .learn-more-images{
    margin: auto;
    width: fit-content;
  }

  .sell-sheet img:nth-of-type(1){
    width: 600px;
    height: 420px;
    display: block;
  }
  
  .sell-sheet img:nth-of-type(2){
    display: none;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 900px){

  #picture-gallery {
    grid-row: 2/7;
    grid-column: 2/5;
    height: 450px;
    width: 300px;
    margin-top: 10px;
  }

  #picture-gallery img{
    height: 450px;
    width: 300px;
  }

  #dots-picture {
    grid-row: 5/5;
    margin-bottom: 30px;
  }

  .core-info.grid h1{
    text-align: center;
    grid-column: 1/10;
  }

  .core-info.grid h2:nth-of-type(1) {
    grid-row: 2;
    grid-column: 5/8;
  }

  .game-stats {
    grid-row: 3;
  }

  .shop {
    grid-row: 4;
  }

  .how-to-play {
    grid-row: 5;
  }

  .game-stat {
    width: 80px;
    height: 80px;
  }

  .sell-sheet img:nth-of-type(1){
    width: 900px;
    height: 630px;
  }
}

/* desktop styles */
@media screen and (min-width: 1050px){

  .shop.container {
    grid-column: 5/9;
  }

  .how-to-play.container {
    grid-column: 5/9;
  }

} 