#gamebio.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
}

#title {
  grid-row: 2;
  grid-column: 4/5;
  margin: 0px;
  font-size: 1em;
}

#gamethumbnail {
  grid-row: 2;
  grid-column: 2/4;
  width: 100%;
  padding: 0px;
  margin: 5px;
  border:2px solid var(--picture-frame);
}

#gameinfo {
  grid-row: 2;
  grid-column: 4/5;
}

.gameinfo-img img{
  width: 30px;
  height: 30px;
  margin-right: 0;
}

.gameinfo-text{
  text-align: left;
}

.game-layout.grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(2, auto);
  margin: 10px;  
}

.game-layout.grid p, h2, li, div{
  grid-column: 2/3;
  margin: 0px;
}

.game-layout li {
  margin-left: 30px; 
  list-style-type:circle;
}

#gameplay-photos img{
  width: 200px;
  height: 120px;
}

.demo iframe{
  display: none;
}

/* small tablet styles */
@media screen and (min-width: 450px){
  #gameplay-photos.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);    
  }

  #gameinfo {
    padding-left: 1em;
  }

  #gameplay-3 {
    grid-row: 2;
    grid-column: 1/3;   
  }

  #gameplay-photos img{
    width: 250px;
    height: 150px;
  }

  .gameinfo-img img{
    width: 40px;
    height: 40px;
  }

}

/* large tablet & laptop styles */
@media screen and (min-width: 900px){

  #gamethumbnail {
    max-width: 350px;
    margin: auto;
    margin-top: 5px;
    margin-right: 0;
  }

  #gameplay-photos.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);    
  }

  #gameplay-3 {
    grid-row: 1;
    grid-column: 2/3;   
  }

  #gameplay-photos img{
    width: 300px;
    height: 180px;
  }

  .demo iframe{
    display: block;
    width: 680;
    height: 340;
    margin: auto;
  }

  .demo p{
    display: none;
  }
}

/* desktop styles */
@media screen and (min-width: 1050px){
  .gameinfo-img img{
    width: 60px;
    height: 60px;
  }  
}