#gamebio.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
}

#title {
  grid-row: 2;
  grid-column: 4/5;
  margin: 0px;
  font-size: 1em;
}

#gamethumbnail {
  grid-row: 2;
  grid-column: 2/4;
  width: 100%;
  padding: 0px;
  margin: 5px;
  border:2px solid var(--picture-frame);
}

#gamethumbnail.horizontal {
  grid-column: 2/5;
  max-width: 300px;
  margin: auto;
}

#gameinfo.horizontal {
  grid-row: 3;
  grid-column: 2/5;
  max-width: 300px;
  margin: auto;
}

#gameinfo {
  grid-row: 2;
  grid-column: 4/5;
}

.gameinfo-img img{
  width: 30px;
  height: 30px;
  margin-right: 0;
}

.gameinfo-text{
  text-align: left;
}

.game-layout.grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(2, auto);
  margin: 10px;  
}

.game-layout.grid p, h2, li, div{
  grid-column: 2/3;
  margin: 0px;
}

.game-layout li {
  margin-left: 30px; 
  list-style-type:circle;
}

.game-layout img {
  width:160px;
  height: 160px;
  border:2px solid var(--picture-frame);
  padding: 0px;
  margin-bottom: 5px;
}

#gameplay-photos img{
  width: 200px;
  height: 125px;;
}

.demo iframe{
  display: none;
}

/* small tablet styles */
@media screen and (min-width: 450px){
  #gameplay-photos.grid {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: repeat(2, auto);    
  }

  #gameinfo {
    padding-left: 1em;
  }

  #gameplay-1 {
    grid-row: 1;
    grid-column: 2/3;
    width: 100%;   
  }

  #gameplay-2 {
    grid-row: 1;
    grid-column: 3/4;  
    width: 100%;  
  }

  #gameplay-3 {
    grid-row: 2;
    grid-column: 2/4;  
    width: 50%; 
    margin: auto;
  }



  .gameinfo-img img{
    width: 40px;
    height: 40px;
  }

  .game-layout img {
    width:300px;
    height: 300px;
  }

}


/* large tablet & laptop styles */
@media screen and (min-width: 900px){

  #gamethumbnail {
    max-width: 350px;
    margin: auto;
    margin-top: 5px;
    margin-right: 0;
  }

  #gamethumbnail.horizontal {
    max-width: 450px;
    margin: auto;
  }

  #gameplay-photos img{
    width: 300px;
    height: 200px;
  }

  .demo iframe{
    display: block;
    width: 680;
    height: 340;
    margin: auto;
  }

  .demo p{
    display: none;
  }

  .game-layout img {
    display: inline-block;
  }

  #learn-more-images {
    text-align:center;
  }
}

/* desktop styles */
@media screen and (min-width: 1050px){
  .gameinfo-img img{
    width: 60px;
    height: 60px;
  }  
}