/* variables */
:root{
  --green:#72de1bff;  /* Green */
  --yellow: #d4de1b; /* yellow */ 
  --background: #fafbfc; /*Background White */
  --textcolor: #52524c; /* Grey */
  --picture-frame: #c7c8c9;
}

html, body {
  width: 100%;
  height:100%;
}

body {
  background: linear-gradient(-45deg, var(--green), var(--background), var(--yellow));
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
 }

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
@font-face {
  font-family:"meccano";
  src: url("assets/fonts/Meccano Font.ttf") format("truetype");
}
@font-face {
  font-family:"oxanium";
  src: url("assets/fonts/Oxanium-Regular.ttf") format("truetype");
}

body{
  overflow-x: hidden;
  font-family:oxanium;
}
h1, h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 24px;
  padding: 5px;
  text-align: center;
}
h1 {
  font-size: 32px;
}

p, li{
  color: var(--textcolor);
  padding: 5px;
}

p {
  text-align: center;
}

a, p, button, li {
  font-size: 16px;
}

img{
  display: block;
  margin: auto;
  padding: 5px;
  width: 100px;
  border-radius: 12px;
}

table {
  margin: auto;
}

button {
  background-color: var(--yellow); /* Green */
  border: solid 4px;
  border-color: var(--green);
  color: var(--textcolor);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin: auto;
  border-radius: 12px;
  box-shadow: inset gray 0px 0px 20px -12px, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
  background-color: #d9df72;
}

button:active{
  box-shadow: inset gray 0px 0px 20px -12px;
}

iframe {
  border-radius: 12px;
}

/*nav bar*/
.nav {
  background-color: #52524c;
}

.nav ul{
  list-style-type: none;
  background-color: var(--textcolor);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav a{
  color: var(--background);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.nav a:hover{
  background-color: var(--yellow);
  color: var(--textcolor)
}

.nav li{
  float: left;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content a:hover{
  background-color: var(--yellow);
  color: var(--textcolor)
}

/*Drop down*/
.collapsible {
  background-color: var(--textcolor);
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 0px;
  box-shadow: none;
}

#about_link {
  text-align: center;
  grid-column: 10/11;
  grid-row: 1;
  width: 50px;
  float: left;
}

#homeicon {
  grid-row: 1;
  width: 40px;
  grid-column: 1/2;
}

#homeicon_link {
  padding: 5px;
  margin: auto;
  grid-row: 1;
}

.active, .collapsible:hover {
  background-color: #555;;
}

.nav.collapsible:hover {
  background-color: var(--yellow);
  color: var(--textcolor)
}

.nav.grid {
  display: grid;
  grid-template-columns: repeat(1fr, 10);
}

.content a{
  background-color: var(--textcolor);
  margin: 5px;
}

.content {
  background-color: var(--background);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 5px;
}

/*Containers*/

.container {
  background-color: rgba(250, 251, 252, 0.6);
  border-radius: 12px;
  box-shadow: inset gray 0px 0px 20px -12px, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

.image-depth {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
