/* variables */
:root{
  --green:#60bb16ff;  /* Green */
  --yellow: #d4de1b; /* yellow */ 
  --background: #fafbfc; /*Background White */
  --textcolor: #52524c; /* Grey */
  --picture-frame: #c7c8c9;
}

html, body {
  width: 100%;
  height:100%;
}

.context {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y :auto;
  top:0vh;
}

.area{
  background: var(--background);  
  width: 100%;
  height:100%;
  overflow-y :auto;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(96, 187, 22, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 120px;
  height: 120px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
 }

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
@font-face {
  font-family:"oxanium";
  src: url("assets/fonts/Oxanium-Regular.ttf") format("truetype");
}

body{
  overflow-x: hidden;
  font-family:oxanium;
}
h1, h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 1;
  padding: 5px;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;

}

p, li{
  color: var(--textcolor);
  padding: 5px;
}

p {
  text-align: center;
}

a, p, button, li {
  font-size: 1rem;
}

img{
  display: block;
  margin: auto;
  padding: 5px;
  width: 100px;
  border-radius: 12px;
}

table {
  margin: auto;
}

button {
  background-color: var(--yellow); /* Green */
  border: solid 4px;
  border-color: var(--green);
  color: var(--textcolor);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin: auto;
  border-radius: 12px;
  box-shadow: inset gray 0px 0px 20px -12px, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
  background-color: #d9df72;
}

button:active{
  box-shadow: inset gray 0px 0px 20px -12px;
}

iframe {
  border-radius: 12px;
}

/*nav bar*/
.nav {
  background-color: #52524c;
}

.nav ul{
  list-style-type: none;
  background-color: var(--textcolor);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a{
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  display: block;
}

.nav a{
  color: var(--background);
}

.nav a:hover{
  background-color: var(--yellow);
  color: var(--textcolor)
}

.nav li{
  float: left;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content a:hover{
  background-color: var(--yellow);
  color: var(--textcolor)
}

/*Drop down*/
.collapsible {
  background-color: var(--textcolor);
  color: white;
  cursor: pointer;
  padding: 15px 10px;
  margin: auto;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 0px;
  box-shadow: none;
}

#about_link {
  text-align: center;
  grid-column: 10/11;
  grid-row: 1;
  width: 80px;
  float: left;
}

#homeicon {
  grid-row: 1;
  width: 40px;
  grid-column: 1/2;
}

#homeicon_link {
  padding: 5px;
  margin: auto;
  grid-row: 1;
}

.active, .collapsible:hover {
  background-color: #555;;
}

.nav.collapsible:hover {
  background-color: var(--yellow);
  color: var(--textcolor)
}

.nav.grid {
  display: grid;
  grid-template-columns: repeat(1fr, 10);
}

.content a{
  background-color: var(--textcolor);
  margin: 5px;
}

.content {
  background-color: rgba(212, 222, 27, 0.4);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 5px ;
}

.content.homepage {
  margin-top: 5px;
}

.nav.grid .content {
  background-color: var(--background);
}

/*Containers*/

.container {
  background-color: rgba(212, 222, 27, 0.4);
  border-radius: 12px;
  box-shadow: inset gray 0px 0px 20px -12px, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

.image-depth {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
