/* variables */
:root{
  --green:#72de1bff;  /* Green */
  --yellow: #d4de1b; /* yellow */ 
  --background: #fafbfc; /*Background White */
  --textcolor: #52524c; /* Grey */
  --picture-frame: #c7c8c9;
}

html, body {
  width: 100%;
  height:100%;
}

body {
  background: linear-gradient(-45deg, var(--green), var(--background), var(--yellow));
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
 }

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
@font-face {
  font-family:"meccano";
  src: url("assets/fonts/Meccano Font.ttf") format("truetype");
}
@font-face {
  font-family:"oxanium";
  src: url("assets/fonts/Oxanium-Regular.ttf") format("truetype");
}

body{
  overflow-x: hidden;
  font-family:oxanium;
}
h1, h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 1.4em;
  padding: 5px;
  text-align: center;
}
h1 {
  font-size: 2em;
}

p{
  color: var(--textcolor);
  font-size: 1em;
  padding: 5px;
  text-align: center;
}

img{
  display: block;
  margin: auto;
  padding: 5px;
  width: 100px;
}

table {
  margin: auto;
}

@media screen and (min-width: 380px){
  h1{
    font-size : 3em;
  }
}

@media screen and (min-width: 600px){
  h1{
    font-size : 4em;
  }
  
  h2 {
    font-size : 3em;
  }

  p {
    font-size : 2em; 
  }
}

@media screen and (min-width: 750px){
  h1{
    font-size : 4.5em;
  }
}