/* variables */
:root{
  --green:#72de1bff;  /* Green */
  --yellow: #d4de1b; /* yellow */ 
  --background: #fafbfc; /*Background White */
  --textcolor: #52524c; /* Grey */
  --picture-frame: #c7c8c9;
}

html, body {
  width: 100%;
  height:100%;
}

body {
  background: linear-gradient(-45deg, var(--green), var(--background), var(--yellow));
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
 }

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
@font-face {
  font-family:"meccano";
  src: url("assets/fonts/Meccano Font.ttf") format("truetype");
}
@font-face {
  font-family:"oxanium";
  src: url("assets/fonts/Oxanium-Regular.ttf") format("truetype");
}

body{
  overflow-x: hidden;
  font-family:oxanium;
}
h1, h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 1.4em;
  padding: 5px;
  text-align: center;
}
h1 {
  font-size: 2em;
}

p{
  color: var(--textcolor);
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

img{
  display: block;
  margin: auto;
  padding: 5px;
  width: 100px;
  border-radius: 12px;
}

table {
  margin: auto;
}

button {
  background-color: var(--yellow); /* Green */
  border: solid 4px;
  border-color: var(--green);
  color: var(--textcolor);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 1em;
  margin: auto;
  border-radius: 12px;
}

button:hover{
  background-color: #d9df72;
}

iframe {
  border-radius: 12px;
}

#homeicon {
  grid-row: 1;
  grid-column: 1/1;
  width: 25px;
}

#homeicon_link {
  padding: 5px;
  margin: auto;
}

/*nav bar*/

.nav ul{
  list-style-type: none;
  background-color: var(--textcolor);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav a{
  color: var(--background);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.nav a:hover{
  background-color: var(--yellow);
  color: var(--textcolor)
}

.nav li{
  float: left;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 380px){
  h1{
    font-size : 3em;
  }
}


@media screen and (min-width: 600px){
  h1{
    font-size : 4em;
  }
  
  h2 {
    font-size : 3em;
  }

  p, button {
    font-size : 24px; 
  }
}

@media screen and (min-width: 750px){
  h1{
    font-size : 4.5em;
  }
}
