#gamebio.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
}

#homeicon {
  grid-row: 1;
  grid-column: 1/1;
  width: 30px;
  margin-left: 0;
}

#gamethumbnail {
  grid-row: 2;
  grid-column: 2/5;
  width: 100%;
}

#gameinfo {
  grid-row: 3;
  grid-column: 2/5;
}

.gameinfo-img img{
  width: 30px;
  margin-right: 0;
}

.gameinfo-text{
  text-align: left;
}

#gamebio p {
  grid-row: 4;
  grid-column: 1/6;
}

.photo-gallery img{
  width: 200px
}

.demo iframe{
  display: none;
}

/* small tablet styles */
@media screen and (min-width: 600px){

}

/* large tablet & laptop styles */
@media screen and (min-width: 900px){

}

/* desktop styles */
@media screen and (min-width: 1200px){

}