


/*nav screen*/

#intro.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
}

#intro.grid img{
  grid-row: 1;
  width: 50px;
}

#intro.grid img:nth-of-type(1){
  grid-column: 1 / 2;
  animation: rotation-left 1s 1 ease-in-out;
}

#intro.grid img:nth-of-type(2){
  grid-column: 5 / 6;
  animation: rotation-right 1s 1 ease-in-out;
}

#overview.grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(2, auto);
}

#overview.grid p{
  grid-column: 2/3;
}

@keyframes rotation-left {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes rotation-right {
  from {
    transform: translateX(100%) rotate(360deg);
  }
  to {
    transform: translateX(0) rotate(0deg);
  }
}

.gallery img {
  border: solid 1px grey;
  padding: 0px;
  border-radius: 12px;
}

#intro.grid h1{
  grid-column: 2 / 5;
  grid-row: 1;
  text-align: center;
  font-weight:bold;
  color: var(--textcolor);
  display: grid;
}

#intro.grid p{
  grid-column: 1 / 6;
  grid-row: 2;
}

#games.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#games.grid h2{
  grid-column: 1 / 3;
  grid-row: 1;
}

#siteseeing {
  grid-column : 1/3;
  grid-row : 2;
}

img.game:hover{
  animation: wiggle 2s infinite;
}

.game {
  width: 100px;
  height: 150px;
  padding: 0px;
  margin-bottom: 5px;
  border:2px solid var(--picture-frame);
}

.game.horizontial {
  width: 150px;
  height: 100px;
}

#contact {
  display: block;
  margin-top: 100px;
}

.gallery {
  --s: 110px; /* the image size */
  
  display: grid;
  transform-style: preserve-3d;
  animation: r 15s linear infinite;
  position: relative;
}
@keyframes r {
  0% {transform: perspective(200px) rotateX(-90deg) rotate(0deg)}
  to {transform: perspective(300px) rotateX(-90deg) rotate(-360deg)}
}
.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  height: 170px;
  aspect-ratio: 5;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transform: rotate(var(--_a)) translateY(50%) rotateX(90deg) rotateY(180deg);
}


.gallery > img:nth-child(1) {--_a: 0deg}
.gallery > img:nth-child(2) {--_a: 120deg}
.gallery > img:nth-child(3) {--_a: 240deg}

.gallery img:nth-child(1){
  width: 170px;
  height: 110px;
}

.create-space {
  height: 60px;
}

@media screen and (min-width: 600px){
  
  #games.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #databrain {
    grid-column : 1/2;
  }

  #siteseeing {
    grid-column : 2/3;
    margin: auto;
  }

  #games.grid h2{
    grid-column: 1 / 4;
    grid-row: 1;
  }

  #contact{
    padding-bottom: 20px;
  }

  .gallery img {
    width: 200px;
    height: 300px;
  }

  .gallery img:nth-child(1){
    width: 300px;
    height: 200px;
  }

  @keyframes r {
    0% {transform: perspective(500px) rotateX(-90deg) rotate(0deg)}
    to {transform: perspective(600px) rotateX(-90deg) rotate(-360deg)}
  }

  .create-space {
    height: 100px;
  }
}

@media screen and (min-width: 750px){
  #intro.grid img{
    max-width : 150px;
  }
  
  .game {
    width: 150px;
    height: 225px;
  }

  .game.horizontial {
    width: 225px;
    height: 150px;
  }

  #intro.grid img:nth-of-type(1){
    grid-column: 1 / 3;
  }
  
  #intro.grid img:nth-of-type(2){
    grid-column: 4 / 6;
  }

  @keyframes rotation-left {
    from {
      transform: translateX(-200%) rotate(0deg);
    }
    to {
      transform: translateX(0) rotate(360deg);
    }
  }
  
  @keyframes rotation-right {
    from {
      transform: translateX(200%) rotate(360deg);
    }
    to {
      transform: translateX(0) rotate(0deg);
    }
  }
}

@media screen and (min-width: 900px){
  .game {
    width: 200px;
    height: 300px;
  }

  .game.horizontial {
    width: 300px;
    height: 200px;
  }

  @keyframes rotation-left {
    from {
      transform: translateX(-400%) rotate(0deg);
    }
    to {
      transform: translateX(0) rotate(360deg);
    }
  }
  
  @keyframes rotation-right {
    from {
      transform: translateX(400%) rotate(360deg);
    }
    to {
      transform: translateX(0) rotate(0deg);
    }
  }
}