#intro.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
}

#intro.grid img{
  grid-column: 1 / 2;
  grid-row: 1;
  width: 100%;
  animation: rotation 1s 1 ease-in-out;
}

#overview.grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(2, auto);
}

#overview.grid p{
  grid-column: 2/3;
  background-color: #fafbfc;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes rotation {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0) rotate(360deg);
  }
}

#intro.grid h1{
  grid-column: 2 / 6;
  grid-row: 1;
  text-align: left;
  font-family:meccano;
  font-weight:bold;
  color: #97978b;
  animation: reveal 0.5s ease-out forwards;
  display: block;
  animation-delay: 0.9s;
}

@keyframes reveal {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(10%,0);
  }
}

#intro.grid p{
  grid-column: 1 / 6;
  grid-row: 2;
}

#games.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
}

#games.grid h2{
  grid-column: 1 / 3;
  grid-row: 1;
}

img.game:hover{
  animation: wiggle 2s infinite;
}

.game {
  width: 100px;
  height: 150px;
  padding: 0px;
  margin-bottom: 5px;
  border:2px solid var(--picture-frame);
}

#contact.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

#contact p {
  grid-row: 1;
}

#contact button {
  grid-row: 2;
}

@media screen and (min-width: 600px){
  
  #games.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  #games.grid h2{
    grid-column: 1 / 5;
    grid-row: 1;
  }

  #contact{
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 750px){
  #intro.grid img{
    grid-column: 1 / 3;
    max-width : 150px;
    margin-right: 0px;
  }
  
  #intro.grid h1{
    grid-column: 3 / 5;
  }    
  
  .game {
    width: 150px;
    height: 225px;
  }

  @keyframes rotation {
    from {
      transform: translateX(-200%) rotate(0deg);
    }
    to {
      transform: translateX(0) rotate(360deg);
    }
  }
}

@media screen and (min-width: 900px){
  .game {
    width: 200px;
    height: 300px;
  }

  @keyframes rotation {
    from {
      transform: translateX(-400%) rotate(0deg);
    }
    to {
      transform: translateX(0) rotate(360deg);
    }
  }
}