

/*nav screen*/

#intro.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
}

#intro.grid img{
  grid-column: 1 / 2;
  grid-row: 1;
  width: 100%;
  animation: rotation 1s 1 ease-in-out;
}

#overview.grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(2, auto);
}

#overview.grid p{
  grid-column: 2/3;
}

@keyframes rotation {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0) rotate(360deg);
  }
}

#intro.grid h1{
  grid-column: 2 / 6;
  grid-row: 1;
  text-align: left;
  font-family:meccano;
  font-weight:bold;
  color: var(--textcolor);
  animation: reveal 0.5s ease-out forwards;
  display: block;
  animation-delay: 0.9s;
}

@keyframes reveal {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(10%,0);
  }
}

#intro.grid p{
  grid-column: 1 / 6;
  grid-row: 2;
}

#games.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#games.grid h2{
  grid-column: 1 / 3;
  grid-row: 1;
}

#siteseeing {
  grid-column : 1/3;
  grid-row : 2;
}

img.game:hover{
  animation: wiggle 2s infinite;
}

.game {
  width: 100px;
  height: 150px;
  padding: 0px;
  margin-bottom: 5px;
  border:2px solid var(--picture-frame);
}

.game.horizontial {
  width: 150px;
  height: 100px;
}

#contact.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

#contact p {
  grid-row: 1;
}

#contact button {
  grid-row: 2;
}

@media screen and (min-width: 600px){
  
  #games.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #databrain {
    grid-column : 1/2;
  }

  #siteseeing {
    grid-column : 2/3;
    margin: auto;
  }

  #games.grid h2{
    grid-column: 1 / 4;
    grid-row: 1;
  }

  #contact{
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 750px){
  #intro.grid img{
    grid-column: 1 / 3;
    max-width : 150px;
    margin-right: 0px;
  }
  
  #intro.grid h1{
    grid-column: 3 / 5;
  }    
  
  .game {
    width: 150px;
    height: 225px;
  }

  .game.horizontial {
    width: 225px;
    height: 150px;
  }

  @keyframes rotation {
    from {
      transform: translateX(-200%) rotate(0deg);
    }
    to {
      transform: translateX(0) rotate(360deg);
    }
  }
}

@media screen and (min-width: 900px){
  .game {
    width: 200px;
    height: 300px;
  }

  .game.horizontial {
    width: 300px;
    height: 200px;
  }

  @keyframes rotation {
    from {
      transform: translateX(-400%) rotate(0deg);
    }
    to {
      transform: translateX(0) rotate(360deg);
    }
  }
}