#intro.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
}

#intro.grid img{
  grid-column: 1 / 2;
  grid-row: 1;
  width: 100%;
}

#intro.grid h1{
  grid-column: 2 / 6;
  grid-row: 1;
  text-align: center;
  font-family:meccano;
  font-weight:bold;
  background: linear-gradient(to left, var(--green), var(--yellow));
  -webkit-background-clip: text;
  color: transparent;
}

#intro.grid p{
  grid-column: 1 / 6;
  grid-row: 2;
}

#games.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
}

#games.grid h1{
  grid-column: 1 / 3;
  grid-row: 1;
}

.game {
  width: 100px;
  height: 150px;
  padding: 0px;
  margin-bottom: 5px;
  border:2px solid var(--picture-frame);
}

#contact.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

#contact p {
  grid-row: 1;
}

#contact iframe{
  grid-row: 2;
}

#contact{
  background: var(--yellow);
  position: relative;
  padding-bottom: 200%; 
  height: 0;
  overflow: hidden;
}

#contact iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 380px){
  #intro.grid h1{
    font-size : 3em;
  }
}

@media screen and (min-width: 600px){
  #intro.grid h1{
    font-size : 4em;
  }
  
  #games.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  #games.grid h1{
    grid-column: 1 / 5;
    grid-row: 1;
  }
}

@media screen and (min-width: 750px){
  #intro.grid img{
    grid-column: 1 / 3;
    max-width : 150px;
    margin-right: 0;
  }
  
  #intro.grid h1{
    grid-column: 3 / 5;
    font-size : 4.5em;
  }    
  
  .game {
    width: 150px;
    height: 225px;
  }
}

@media screen and (min-width: 900px){
  .game {
    width: 200px;
    height: 300px;
  }
}