/* mobile styles */

  #intro.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  #intro.grid img{
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%;
  }

  #intro.grid h1{
    grid-column: 2 / 6;
    grid-row: 1;
    text-align: center;
    font-family:meccano;
    font-weight:bold;
    background: linear-gradient(to left, var(--green), var(--yellow));
    -webkit-background-clip: text;
    color: transparent;
  }

  #intro.grid p{
    grid-column: 1 / 6;
    grid-row: 2;
  }

  #games.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(5, auto);
  }

  #games.grid h2{
    grid-column: 1 / 4;
  }

  .game {
    grid-column: 2 / 3;
    width: 100%
  }

  #games.grid a:nth-child(1){
    grid-column: 2 / 3;
    width: 100%;
    grid-row: 2;
  }

  #games.grid a:nth-child(2){
    grid-row: 3;
  }

  #games.grid a:nth-child(3){
    grid-row: 4;
  }

  #games.grid a:nth-child(4){
    grid-row: 5;
  }

/*
  .title{
    margin: 1em 0 0 2em;
  }
  .title img{
    grid-column: span 2;
    width: 80%;
    text-align: right;
  }
  .title h1{
    grid-column: span 4;
    padding-bottom: 10px;
    text-align: left;
    font-family:meccano;
    font-weight:bold;
    background: linear-gradient(to left, var(--green), var(--yellow));
    -webkit-background-clip: text;
    color: transparent;
  }
  #welcome{
    padding: 0 10px 10px 10px;
    font-size: 1.1em;
  }
  #portfolio{
    padding: 10px 10px;
  }
  #portfolio h2{
    margin-bottom: 0;
    text-align: center;
  }
  .projects{
    margin: 20px 0;
  }
  .projects img{
    width: 150px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;  
  }
  .projects img:nth-child(1){
    grid-column: 2/3;
  }
  .projects img:nth-child(2){
    grid-column: 3/4;
  }
  .projects img:nth-child(3){
    grid-row-start: auto;
    grid-column: 2/3;
  }
  .projects img:nth-child(4){
    grid-column: 3/4;
  }
  
  #contact{
    background: var(--yellow);
    position: relative;
    padding-bottom: 200%; 
    height: 0;
    overflow: hidden;
  }
  #contact h2 {
    margin-bottom: 0;
    text-align: center;
  }
  #contact iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .gamethumbnail img{
    grid-column: 1/2;
    width: 50px;
    height: 10px;
  }
  
  .homeicon img{
    grid-column: 6/7;
    width: 10px;
    height: 10px;
  }
  
  .gamebio h1{
    grid-column: 3/7;
  }
  
  .gamebio table{
    grid-column: 1/7;
  }
  
  .gamebio p{
    grid-column: 1/7;
    margin: 5px;
  }
  
  .demo h2, p{
    text-align: center;
  }
  
  .demo iframe{
    display:none;
    margin:auto;
  }
  
  @media screen and (min-width: 600px){
  
    #contact{
      padding-bottom: 140%;
    }
    .title img{
      width: 60%;
    }
    .title h1{
      font-size: 400%;
    }
    h2{
      font-size:2em;
    }
    p{
      font-size: 1.2em;
      text-align: center;
    }
  }
  

  @media screen and (min-width: 900px){
    #contact{
      padding-bottom: 90%;
    }
    .title h1{
      font-size: 600%;
    }
    .title img{
      width: 70%;
    }
    h2{
      font-size:2.4em;
    }
    p{
      font-size: 1.4em;
    }
    .projects img:nth-child(1){
      grid-column: 2/3;
    }
    .projects img:nth-child(2){
      grid-column: 3/4;
    }
    .projects img:nth-child(3){
      grid-column: 4/5;
    }
    .projects img:nth-child(4){
      grid-column: 5/6;
    }
  
    .demo iframe{
      display:block;
      width:680;
      height:340;
    }
  
    .demo p{
      display: none;
    }
  }
  
  @media screen and (min-width: 1200px){
    #contact{
      padding-bottom: 70%;
    }
    .title h1{
      font-size:7em;
    }
    h2{
      font-size:3.4em;
    }
    p{
      margin-top: 1.5em;
      font-size: 1.8em;
    }
    .projects img{
      width: 250px;
      height: 375px;
    }
  }

  */