/* variables */
:root{
  --green: #72de1bff; /* Green */
  --yellow: #d4de1b; /* yellow */ 
  --background: #fafbfc; /*Background White */
  --textcolor: #52524c; /* Grey */
}

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
@font-face {
  font-family:"meccano";
  src: url("assets/fonts/Meccano Font.ttf") format("truetype");
}
@font-face {
  font-family:"oxanium";
  src: url("assets/fonts/Oxanium-Regular.ttf") format("truetype");
}
body{
  background: var(--background);
  overflow-x: hidden;
  font-family:oxanium
}

/* fonts */
h1{
  color: var(--textcolor);
  font-weight: normal;
  font-size: 2em;
}
h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 1.7em;
}
h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 1.4em;
}
p,a,li{
  color: var(--textcolor);
  font-size: 1em;
}

/* mobile styles */
.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-sizing: border-box;
  gap: 15px;
}
.title{
  margin: 0 10px;
}
.title img{
  grid-column: span 2;
  width: 100%;
  text-align: right;
}
.title h1{
  grid-column: span 4;
  padding-bottom: 10px;
  text-align: left;
  font-family:meccano;
  font-weight:bold;
  background: linear-gradient(to left, var(--green), var(--yellow));
  -webkit-background-clip: text;
  color: transparent;
}
#welcome{
  padding: 0 10px 10px 10px;
  font-size: 1.1em;
}
#portfolio{
  padding: 10px 10px;
}
#portfolio h2{
  margin-bottom: 0;
  text-align: center;
}
.projects{
  margin: 20px 0;
}
.projects img{
  grid-column: span 2;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;  
}
.non-tech p{
  grid-column: span 6;
  text-align: center;
}
.non-tech img{
  grid-column: 3/5;
}
#contact{
  background: var(--yellow);
  position: relative;
  padding-bottom: 200%;  /* Adjust based on your form's height */
  height: 0;
  overflow: hidden;
}
#contact h2 {
  margin-bottom: 0;
  text-align: center;
}
#contact iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* small tablet styles */
@media screen and (min-width: 620px){

  .welcome-text{
    grid-column: 1/9;
  }
  .projects{
    margin-top: 40px;
  }
  .projects a{
    grid-column: span 4;
    display: block;
    margin: 20px 0;
  }
  .projects a:last-child{
    grid-column: 3/7;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

  body{
    font-size: 18px;
  }
  .grid{
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
  }
  .leading{
    margin: 20px 0;
  }
  .site-nav{
    padding: 0 20px;
  }
  .site-nav img{
    grid-column: 1/2;
    grid-row: 1;
     width: 200px;
  }
  .site-nav h1{
    grid-column: 3/5;
  }
  #welcome{
    padding-bottom: 40px;
        grid-column: 1/5;
    align-self: center;
  }
  .projects a:nth-child(1){
    grid-column: 2/4;
  }
  .projects a:nth-child(2){
    grid-column: 4/6;
    padding-top: 140px;
  }
  .projects a:nth-child(3){
    grid-column: 6/8;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px){

  body{
    font-size: 20px;
  }
  .site-nav{
    padding: 0;
  }
  #welcome, #portfolio, #skills, #contact{
    padding: 90px 0;
  }
  .projects a:nth-child(1){
    grid-column: 1/3;
  }
  .projects a:nth-child(2){
    grid-column: 4/6;
    padding-top: 140px;
  }
  .projects a:nth-child(3){
    grid-column: 7/9;
  }
}
