/* variables */
:root{
  --green: #24de1b; /* Green */
  --yellow: #d4de1b; /* yellow */ 
  --background: #eef2ed; /*Background White */
  --textcolor: #52524c; /* Grey */
}

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
body{
  background: var(--background);
  overflow-x: hidden;
  font-family: 'Courier New', monospace;;
}

/* fonts */
h1,h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 1.4em;
}
p,a,li{
  color: var(--textcolor);
  line-height: 1.4em;
  font-size: 1em;
}
h1{
  font-size: 1.6em;
}
h2{
  font-size: 1.2em;
}

/* mobile styles */
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
}
.site-nav{
  margin: 0 20px;
}
.site-nav img{
  grid-column: 1/5;
  grid-row: 1;
  width: 100%;
  max-width:300px;
  text-align: right;
}
.site-nav h1{
  grid-column: 5/9;
  padding-bottom: 10px;
  text-align: left;
}
#welcome{
  padding: 0 20px 20px 20px;
  font-size: 1.1em;
}
#portfolio{
  padding: 30px 20px;
}
#portfolio h2{
  margin-bottom: 0;
  text-align: center;
}
.projects{
  margin: 20px 0;
}
.projects a{
  grid-column: 1/9;
  margin: 20px 0
  align-self: center;
  text-align: center;
}
#contact{
  background: var(--yellow);
  position: relative;
  padding-bottom: 200%;  /* Adjust based on your form's height */
  height: 0;
  overflow: hidden;
}
#contact h2 {
  margin-bottom: 0;
  text-align: center;
}
#contact iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer{
  background-color: var(--green);
}


/* small tablet styles */
@media screen and (min-width: 620px){

  .welcome-text{
    grid-column: 1/9;
  }
  .projects{
    margin-top: 40px;
  }
  .projects a{
    grid-column: span 4;
    display: block;
    margin: 20px 0;
  }
  .projects a:last-child{
    grid-column: 3/7;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

  body{
    font-size: 18px;
  }
  .grid{
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
  }
  .leading{
    margin: 20px 0;
  }
  .site-nav{
    padding: 0 20px;
  }
  .site-nav img{
    grid-column: 1/2;
    grid-row: 1;
     width: 200px;
  }
  .site-nav h1{
    grid-column: 3/5;
  }
  #welcome{
    padding-bottom: 40px;
        grid-column: 1/5;
    align-self: center;
  }
  .projects a:nth-child(1){
    grid-column: 2/4;
  }
  .projects a:nth-child(2){
    grid-column: 4/6;
    padding-top: 140px;
  }
  .projects a:nth-child(3){
    grid-column: 6/8;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px){

  body{
    font-size: 20px;
  }
  .site-nav{
    padding: 0;
  }
  #welcome, #portfolio, #skills, #contact{
    padding: 90px 0;
  }
  .projects a:nth-child(1){
    grid-column: 1/3;
  }
  .projects a:nth-child(2){
    grid-column: 4/6;
    padding-top: 140px;
  }
  .projects a:nth-child(3){
    grid-column: 7/9;
  }
  footer .copyright{
    grid-column: 1/4;
  }
}
