/* variables */
:root{
  --green: #72de1bff; /* Green */
  --yellow: #d4de1b; /* yellow */ 
  --background: #fafbfc; /*Background White */
  --textcolor: #52524c; /* Grey */
}

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
@font-face {
  font-family:"meccano";
  src: url("assets/fonts/Meccano Font.ttf") format("truetype");
}
@font-face {
  font-family:"oxanium";
  src: url("assets/fonts/Oxanium-Regular.ttf") format("truetype");
}
body{
  background: var(--background);
  overflow-x: hidden;
  font-family:oxanium
}

/* fonts */
h1{
  color: var(--textcolor);
  font-weight: normal;
  font-size: 2em;
}
h2{
  color: var(--textcolor);
  font-weight: normal;
  line-height: 1.4em;
}
p,a,li{
  color: var(--textcolor);
  font-size: 1em;
}

/* mobile styles */
.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-sizing: border-box;
  gap: 15px;
}
.title{
  margin: 0 10px;
}
.title img{
  grid-column: span 2;
  width: 100%;
  text-align: right;
}
.title h1{
  grid-column: span 4;
  padding-bottom: 10px;
  text-align: left;
  font-family:meccano;
  font-weight:bold;
  background: linear-gradient(to left, var(--green), var(--yellow));
  -webkit-background-clip: text;
  color: transparent;
}
#welcome{
  padding: 0 10px 10px 10px;
  font-size: 1.1em;
}
#portfolio{
  padding: 10px 10px;
}
#portfolio h2{
  margin-bottom: 0;
  text-align: center;
}
.projects{
  margin: 20px 0;
}
.projects img{
  grid-column: span 3;
  width: 150px;
  height: 210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;  
}
#contact{
  background: var(--yellow);
  position: relative;
  padding-bottom: 200%;  /* Adjust based on your form's height */
  height: 0;
  overflow: hidden;
}
#contact h2 {
  margin-bottom: 0;
  text-align: center;
}
#contact iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


/* small tablet styles */
@media screen and (min-width: 600px){

  #contact{
    padding-bottom: 140%;/* Adjust based on your form's height */
  }
  .title h1{
    font-size: 400%;
  }
  h2{
    font-size:2em;
  }
  p{
    font-size: 1.2em;
    text-align: center;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 900px){
  #contact{
    padding-bottom: 90%;/* Adjust based on your form's height */
  }
  .title h1{
    font-size: 600%;
  }
  h2{
    font-size:2.4em;
  }
  p{
    font-size: 1.4em;
  }
  .projects img:nth-child(1){
    grid-column: 2/3;
  }
  .projects img:nth-child(2){
    grid-column: 3/4;
  }
  .projects img:nth-child(3){
    grid-column: 4/5;
  }
  .projects img:nth-child(4){
    grid-column: 5/6;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px){
  #contact{
    padding-bottom: 70%;/* Adjust based on your form's height */
  }
  .title h1{
    font-size:7em;
  }
  h2{
    font-size:3.4em;
  }
  p{
    font-size: 1.8em;
  }
  .projects img{
    width: 250px;
    height: 375px;
  }
}
